<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Projects</title>
  </head>
  <body>
    <!-- ====== Navbar Section Start -->
    <header>
        <nav class="w-full shadow-md flex justify-center items-center h-24">
            <ul class="flex">
                <li class="mx-3">
                    <a href="/home" class="px-4 py-3 text-xl  hover:border-b-[3px] hover:border-blue-500">
                        Home
                    </a>
                </li>
                <li class="mx-3">
                    <a href="/projects" class="px-4 py-3 text-xl hover:border-b-[3px] hover:border-blue-500">
                        Projects
                    </a>
                </li>
                <li class="mx-3">
                    <a href="/notes" class="px-4 py-3 text-xl hover:border-b-[3px] hover:border-blue-500">
                        Notes
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- ====== Navbar Section End -->

    <%- body %>
  </body>
</html>
